# Web Framework
Flask
flask-cors

# GraphQL
graphene
graphene-sqlalchemy
Flask-GraphQL

# Database
SQLAlchemy
psycopg2-binary

# Development Dependencies (optional)
python-dotenv
mypy

# Server
gunicorn

# Auth
passlib[argon2]
